{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "OpenStack Identity API v3 (Domain)",
    "version" : "3.0",
    "title" : "OpenStack Identity API v3 (Domain)",
    "contact" : {
      "email" : "szfugui@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "servers" : [ {
    "description" : "Huawei Cloud IAM Service",
    "url" : "https://iam.myhuaweicloud.com/v3"
  } ],
  "paths" : {
    "/domains" : {
      "get" : {
        "operationId" : "getDomains",
        "description" : "Lists all domains",
        "parameters" : [ {
          "in" : "query",
          "name" : "name",
          "description" : "Filters the response by a domain name",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "enabled",
          "description" : "If set to true, then only domains that are enabled will be returned, if set to false only that are disabled will be returned. Any value other than 0, including no value, will be interpreted as true.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domains"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "description" : "User must authenticate before making a request"
          },
          "403" : {
            "description" : "Policy does not allow current user to do this operation"
          },
          "404" : {
            "description" : "The requested resource could not be found"
          },
          "405" : {
            "description" : "Method is not valid for this endpoint"
          },
          "413" : {
            "description" : "The request is larger than the server is willing or able to process"
          },
          "503" : {
            "description" : "Service is not available. This is mostly caused by service configuration errors which prevents the service from successful start up"
          }
        }
      },
      "post" : {
        "tags" : [ "admins" ],
        "summary" : "adds an inventory item",
        "operationId" : "addInventory",
        "description" : "Adds an item to the system",
        "responses" : {
          "201" : {
            "description" : "item created"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          },
          "409" : {
            "description" : "an existing item already exists"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainItem"
              }
            }
          },
          "description" : "Inventory item to add"
        }
      }
    }
  },
  "components" : {
    "responses" : {
      "BadRequest" : {
        "description" : "Some content in the request was invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ErrorRepsonse"
            }
          }
        }
      }
    },
    "schemas" : {
      "Domains" : {
        "type" : "object",
        "properties" : {
          "domains" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DomainItem"
            }
          }
        }
      },
      "DomainItem" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the domain",
            "example" : "4e60c818-da53-11e9-a6c2-0255ac101ec0"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the domain",
            "example" : "china-mobile"
          },
          "enabled" : {
            "type" : "string",
            "description" : "If set to true, domain is enabled. If set to false, domain is disabled."
          },
          "links" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "description" : "The links to the domain resource."
          },
          "description" : {
            "type" : "string",
            "description" : "The description of the domain"
          }
        }
      },
      "ErrorRepsonse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Error ID"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message"
          }
        }
      }
    }
  }
}